[Unit]
Description=Django Gunicorn Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/django-NB

ExecStart=/home/ec2-user/django-NB/.venv/bin/gunicorn \
    --workers 2 \
    --bind 127.0.0.1:8000 \
    config.wsgi:application

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target